@import url('https://fonts.googleapis.com/css2?family=DM+Serif+text:ital@0;1&display=swap');

* {
    margin: 0%;
    padding: 0;
    color: black;
    font-family: DM Serif text, serif;
}
.forget_1_main {
    height:  var(--page_height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forget_1_box {
    height: 500px;
    width: 1000px;
    display: flex;
    overflow: hidden;
    border-radius: 25px;
    box-shadow:  var(--box_shadow);
    background-color: var(--bg_color);
}

.forget_1_box_L {
    background: var(--logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_1_box_R {
    border-left: 2.5px solid black;
    height: 100%;
    width: 50%;
}

.forget_1_box_R_logo {
    border-bottom: 2.5px solid black;
    height: 22%;
    width: 100%;
    font-weight: 500;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.forget_1_box_R_form {

    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forget_1_box_R_form_box {

    height: 50%;
    width: 65%;
    display: block;

}

.forget_1_box_R_form_box_line {
    height: 65px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_1_box_R_form_box_line input[type=text] {
    width: 95%;
    border: 1px solid transparent;
    border-bottom: var(--box_border);
    padding: 2px ;
    font-size: medium;
    color: rgb(0, 0, 0);
}

.forget_1_box_R_form_box_line input[type=text]::placeholder
 {
    color: black;
    
    

}

.forget_1_box_R_form_box_line input[type=text]::after,
input[type=text]:active,
input[type=text]:hover,
input[type=text]:focus{
    border: 1px solid transparent;
    border-bottom: var(--box_border_hover);
    outline: none;
    font-weight: var(--font_weight_hover) ;
}


.forget_1_box_R_form_box_line input[type=submit] {
    padding: 5px 20px;
    width: 60%;
    border: var(--box_border);
    font-size: larger;

    
    border-radius: 50px;
    background-color: white;
}

.forget_1_box_R_form_box_line input[type=submit]:active,
input[type=submit]:hover,
input[type=submit]:focus
{
    background-color: white;
    border: var(--box_border_hover);
    font-weight: var(--font_weight_hover) ;

}
.forget_1_box_R_form_box_line a {
    text-decoration: none;
}
@media screen and (max-width: 1200px) { 
    .forget_1_box {
        height: 400px;
        width: 800px;       
    }
 }
@media screen and (max-width: 1000px) { 
    .forget_1_box {
        height: 400px;
        width: 800px;       
    }
 }
@media screen and (max-width: 800px) { 
    .forget_1_box {
        height: 400px;
        width: 600px;    

    }
    .forget_1_box_R_logo{
        font-size: calc((var(--navbar_h))*0.5) ;
        padding: 2vh 0;
    }
 }
@media screen and (max-width: 700px) {  
    .forget_1_box {

        height: 380px;
        width: 270px;   
        display: block;
        overflow: hidden;
        
       
    }
    .forget_1_box_L{
        height: calc((var(--navbar_h))*2);
        width: 100%;
        border-bottom: 2px solid black;
        background-size: 30%;
    }
    .forget_1_box_R{
        height: auto;
        width: 100%;
        border: 0px ;
    }
  
    .forget_1_box_R_form{
        height: calc(55vh - ((var(--navbar_h))*3.6) );
    }
}