@import url('https://fonts.googleapis.com/css2?family=DM+Serif+password:ital@0;1&display=swap');

* {
    margin: 0%;
    padding: 0;
    font-family: DM Serif password, serif;
    box-sizing: border-box;
}

.forget_2_main {
    border: 1px solid black;
    height:  var(--page_height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forget_2_box {

    height: 500px;
    width: 1000px;
    display: flex;
    

    overflow: hidden;
    border-radius: 25px;
    box-shadow: var(--box_shadow);
    background-color: var(--bg_color);
}

.forget_2_box_L {
    background: var(--logo);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_2_box_R {
    border-left: 2.5px solid black;
    height: 100%;
    width: 50%;
}

.forget_2_box_R_logo {
    border-bottom: 2.5px solid black;
    height: 22%;
    width: 100%;
    font-weight: 500;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forget_2_box_R_form {

    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forget_2_box_R_form_box {

    height: 55%;
    width: 65%;
    display: block;

}

.forget_2_box_R_form_box_line {
    height: 45px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forget_2_box_R_form_box_line input[type=password],
input[type=password] {
    width: 95%;
    border: 1px solid transparent;
    
    padding: 2px;
    font-size: medium;
    border-bottom: var(--box_border);
    color: rgb(0, 0, 0);
    
}

.forget_2_box_R_form_box_line input[type=password]::placeholder {
    color: black;
   
    

}

.forget_2_box_R_form_box_line input[type=password]::after,
input[type=password]:active,
input[type=password]:hover,
input[type=password]:focus {
    border: 1px solid transparent;
    border-bottom: var(--box_border_hover);
    font-weight: var(--font_weight_hover) ;
    outline: none;
}


.forget_2_box_R_form_box_line input[type=submit] {
    padding: 5px 20px;
    width: 60%;
    border: var(--box_border);
    font-size: larger;
  
    
    
    border-radius: 50px;
    background-color: white;
    margin: 30px 0 0 0;
}

.forget_2_box_R_form_box_line input[type=submit]:active,
input[type=submit]:hover,
input[type=submit]:focus {
    background-color: white;
    border: var(--box_border_hover);

    font-weight: var(--font_weight_hover) ;

}

.forget_2_box_R_form_box_line a {
    text-decoration: none;
}
@media screen and (max-width: 1200px) { 
    .forget_2_box {
        height: 400px;
        width: 800px;       
    }
 }
@media screen and (max-width: 1000px) { 
    .forget_2_box {
        height: 400px;
        width: 800px;       
    }
 }
@media screen and (max-width: 800px) { 
    .forget_2_box {
        height: 380px;
        width: 270px;   
        display: block;
        overflow: hidden;
    }
    .forget_2_box_R_logo{
        font-size: calc((var(--navbar_h))*0.5) ;
        padding: 2vh 0;
    }
 }
@media screen and (max-width: 700px) {
    .forget_2_box {

        height: 380px;
        width: 270px;   
        display: block;
        overflow: hidden;

    }

    .forget_2_box_L {
        height: calc((var(--navbar_h))*2);
        width: 100%;
        border-bottom: 2px solid black;
        background-size: 30%;
    }

    .forget_2_box_R {
        height: auto;
        width: 100%;
        border: 0px;
    }

    .forget_2_box_R_logo {
        font-size: calc((var(--navbar_h))*0.5);
        padding: 2vh 0;
    }

    .forget_2_box_R_form {
        height: calc(55vh - ((var(--navbar_h))*3.6));
    }
}