<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include "data.html" %}
  <link rel="stylesheet" href="{% static 'test/score.css' %}" />
  <link rel="stylesheet" href="{% static 'core/main.css' %}" />
</head>

<body>

  {% include "header.html" %}
  <div class="score_logo">
    Score
  </div>
  <div id="score_u1" class="score">
    <div class="score_box">
      <div class="score_box_line">
        <div class="score_box_line_rank">Rank</div>
        <div class="score_box_line_name">Name</div>
        <div class="score_box_line_score">score</div>
        <div class="score_box_line_pertange">Pertange</div>
      </div>
      {% for score in score %}
      <div class="score_box_line">
        <div class="score_box_line_rank">{{forloop.counter }}</div>
        <div class="score_box_line_name">{{score.user.first_name}} {{score.user.last_name}}</div>
        <div class="score_box_line_score">{{score.right_answer}}/{{score.total_qustion}}</div>
        <div class="score_box_line_pertange">{{score.percentage}}%</div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="score_u2" class="message">
    <div class="message_box">
      <div class="message_animation">
        <div class="phone">
        </div>
      </div>
      <div class="message_line">Please rotate your device!</div>
    </div>
  </div>

  <script>function myFunction(x) {
      if (x.matches) {
        var element = document.getElementById('score_u1');
        var comment = document.createComment('This is a commented out HTML code');
        element.parentNode.replaceChild(comment, element);

      } else {
        var element = document.getElementById('score_u2');
        var comment = document.createComment('This is a commented out HTML code');
        element.parentNode.replaceChild(comment, element);
      }
    }


    var x = window.matchMedia("(max-width: 800px) and (orientation :portrait )")

    myFunction(x);

    x.addEventListener("change", function () {
      myFunction(x);
      location.reload();
    });
  </script>
  {% include "footer.html" %}
</body>

</html>