*{
    margin: 0;
    padding: 0;

}
.home{
    height:  var(--page_height);
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_box{
    height: 280px;
    width: 320px;
    box-shadow:  var(--box_shadow);
    background-color: var(--bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.home_box_button{
    height: 70%;
    width: 80%;
 
}
.home_box_line{
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home_box_line input[type=button] {
    padding: 5px 20px;
    width: 100%;
    height: 70%;
    border: var(--box_border);
    font-size: larger;
    border-radius: 50px;
    background-color: white;
}

.home_box_line input[type=button]:active,
input[type=button]:hover,
input[type=button]:focus
{
    
    background-color: white;
    border: var(--box_border_hover);
    font-weight: var(--font_weight) ;
  
}
@media screen and (max-width: 500px) {  
    .home_box{
        height: 280px;
        width: 280px;
     
    }
}