*{
    padding: 0;
    margin: 0;
}

.aboutus{
    height:  var(--page_height);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.aboutus_box{
    height: 500px;
    width: 370px ;
    border: 1px  none;
    border-radius: 30px;
    box-shadow:  var(--box_shadow);
    background-color: var(--bg_color);
    overflow: hidden;
}
.aboutus_box_logo_part{
    height:190px;
    width: 100%;
    border-bottom: 2.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.aboutus_box_logo{
    height: 130px ;
    width: 130px ;
    border-radius: 50%;
    overflow: hidden;
    border: 0px solid black;
    box-shadow:  var(--box_shadow);
}
.admin_1 , .admin_2 , .admin_3{ 
    height: 102%;
    width: 102%;
    margin: -1% 0 0 -1%;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.admin_1{
    background-image: url(/static/admin1.png);
}
.admin_2{
    background-image: url(/static/admin2.png);
}
.admin_3
{
    background-image: url(/static/admin3.png);
}
.aboutus_box_detail{
    height: 310px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus_box_detail_part{

    height: 65%;
    width: 75%;
}
.aboutus_box_detail_line{
    border-bottom: 3.5px solid black;
    height: max-content;
    width: 100%;
    font-size: large;
    padding: 7px 2px;
}

@media screen and (max-width: 1300px) {

    
.aboutus{
    height: 220vh;
    width: 100%;

    display: block;
}
    
.aboutus_box{
    height: 500px;
    width: 350px ;
    margin: 100px auto ;
}

}
@media screen and (max-width: 400px) {        
    .aboutus_box{
        height: 430px;
        width: 300px ;
        margin: 100px auto ;
    }   
    .aboutus_box_logo_part{
        height:130px;
        width: 100%;
        
    }
    .aboutus_box_logo{
        height: 100px ;
        width: 100px ;
        
    }
    .aboutus_box_detail{
        height: 300px;
        width: 100%;
        font-size: xx-small;

    }
}