@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: DM Serif Text, serif;
}

.test{
    
    height: calc((var(--page_height)) + ((var(--navbar_h))*2));
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--navbar_h);
    padding-bottom: var(--navbar_h);
}
.test_box {
    height: max-content;
    display: block;
    width: 50%;
    overflow: hidden;
    border-radius: 25px;
    box-shadow:  var(--box_shadow);
    background-color: var(--bg_color);
  
}
.test_qustion{
    height: inherit ;
    padding: 2vh;
    width: 100%;
    border-bottom: 2.5px solid black;
    font-size: larger;
    display: flex;
}
.test_qustion_no{
    height: inherit ;
    width: 60px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.test_qustion_text{
    height: 100%;
    width: 89%;
    overflow: hidden;
}
.test_option{
    height: max-content;
    
    border-bottom: 2.5px solid black;
    width: 100%;
    padding: 3vh 2vh;
}
.test_button{
    padding: 2vh 3vh;
    height: max-content;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
 input[type=submit]{
    height: 35px;
    width: 130px;
    border: var(--box_border);
    font-size: larger;
    
   
    border-radius: 50px;
    background-color: white;
}

 input[type=submit]:active,
input[type=submit]:hover,
input[type=submit]:focus
{
    background-color: white;
    
    background-color: white;
    border: var(--box_border_hover);
}
.test_option_line{
    padding: 3vh 0;
    height: 4vh;
    width: 96%;
    
    display: flex;
    align-items: center;
}
.test_option_line input[type=radio]{
    margin: 0 5px;
}

@media screen and (max-width: 1200px) {  
    .test_box{
       
      width: 95%;
    
    }
  }
  @media screen and (max-width: 800px) and (orientation : landscape) {  
    .test_box{
        width: 95%;
    }
    .test {
      height:  calc(max-content + (( var(--navbar_h))*2));
    }
    .test_box {
      padding: 5vh;
        
    }
    .test_option_line{
        padding: 5vh 0;
    }
  }
  @media screen and (max-width: 800px) and (orientation : portrait) {  
    .message{
        height: var(--page_height);
        width: 100%;
        background: white;
  
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .message_box{
        height:10vh ;
        width: 50%;
        
  
    }
    .message_animation{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .message_line{
        color: black;
        font-size: 1em;
        margin-top: 40px;
        text-align: center;
       
    }
    .phone {
        height: 50px;
        width: 100px;
        border: 3px solid black;
        border-radius: 10px;
        animation: rotate 2.5s ease-in-out infinite alternate;
    }
    
      
    @keyframes rotate {
        0% {
              transform: rotate(0deg)
          }
          50% {
              transform: rotate(-90deg)
          }
          100% {
              transform: rotate(-90deg)
          }
      }
    
    }
  